.selectors-container {
    display: flex;
    gap: 8px;
    margin: 8px 0;
}

.selector {
    border: 1px solid black;
    padding: 4px 8px;
    font-size: 20px;
    background: #fff;
}

.selector.active {
    border-color: rgb(86, 0, 101);
}